<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Manish Kumar | AI & ML Portfolio</title>
<link rel="stylesheet" href="style.css">
</head>

<body>

<header>
    <h1>Manish Kumar</h1>
    <p>AI & Machine Learning Student</p>
</header>

<section class="card">
    <h2>About Me</h2>
    <p>
        I am a 3rd Year Diploma student in Artificial Intelligence and Machine Learning.
        I have knowledge of HTML, CSS, JavaScript, Python, Flask and MySQL.
    </p>
</section>

<section class="card">
    <h2>Skills</h2>
    <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>Python</li>
        <li>Flask</li>
        <li>MySQL</li>
        <li></li>
    </ul>
</section>

<section class="card">
    <h2>Contact</h2>

    <p>Email: manishbro1819@gmail.com</p>
    <p>Phone: +91 9084044937</p>

    <a href="https://linkedin.com/in/manish-kumar-140b243b0" target="_blank">
        LinkedIn Profile
    </a>
</section>

<footer>
    © 2026 Manish Kumar | Portfolio
</footer>

<script src="script.js"></script>

</body>
</html>